<style>
  table{
    border-left:1px solid #000000;border-top:1px solid #000000;
    width: 100%;
    word-wrap:break-word; word-break:break-all;
  }
  table th{
  text-align:center;
  }
  table th,td{
    border-right:1px solid #000000;border-bottom:1px solid #000000;
  }
</style>

{% include header.html %}

<div class="wrap">
    <div class="container container-left">
        <div class="row">
            <div class="col-md-3 hidden-xs">
                {% include sidebar.html %}
            </div>
            <div class="col-md-9">
                {{ content }}
            </div>
        </div>
    </div>

    {% include footer.html %}
</div>